name: 最终尝试-打包Windows版
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: 安装 Flutter 环境
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: 开启 Windows 支持
        run: flutter config --enable-windows-desktop

      # --- 步骤1：先处理核心库 (Core) ---
      - name: 安装核心库依赖
        working-directory: ./simple_live_core
        run: flutter pub get

      # --- 步骤2：再处理 APP ---
      - name: 安装 APP 依赖
        working-directory: ./simple_live_app
        run: flutter pub get

      - name: 生成辅助代码 (解决Exit code 1的关键)
        working-directory: ./simple_live_app
        run: dart run build_runner build --delete-conflicting-outputs

      - name: 开始打包 (Build exe)
        working-directory: ./simple_live_app
        run: flutter build windows --release

      # --- 步骤3：打包并上传 ---
      - name: 整理打包文件
        # 进入构建好的目录，把文件压缩起来
        run: |
          cd simple_live_app/build/windows/runner/Release
          7z a ../../../../windows_app.zip .

      - name: 上传打包结果
        uses: actions/upload-artifact@v4
        with:
          name: SimpleLive-Windows-App
          path: windows_app.zip
